<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Create a new blog post!</h1>

    <form method="POST" action="/add">
        <label>Title:</label><br>
        <label>
            <input type="text" name="title" required>
        </label><br><br>

        <label>Author:</label><br>
        <label>
            <input type="text" name="author" required>
        </label><br><br>

        <label>Content:</label><br>
        <label>
            <textarea name="content" rows="5" required></textarea>
        </label><br><br>

        <button type="submit">Save post</button>
    </form>

</body>
</html>